@{
    ViewData["Title"] = "Home Page - SMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Takneeki Gyan Guru</h1>
    <p>Today we will learn how to create a dotnet web application and jenkins pipeline</a>.</p>
</div>
